* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #0f0f0f;
  color: white;
  font-family: Arial, sans-serif;
}

.app {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */

.sidebar {
  width: 360px;
  background: #181818;
  border-right: 1px solid #2a2a2a;
  padding: 20px;
  overflow-y: auto;
}

.sidebar h2 {
  margin-top: 0;
}

.search {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
  background: #2a2a2a;
  color: white;
  outline: none;
}

.filter-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  overflow-x: auto;
  padding-bottom: 5px; /* for scrollbar */
}

.filter-container::-webkit-scrollbar {
  height: 4px;
}
.filter-container::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 4px;
}

.filter-btn {
  background: #2a2a2a;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  white-space: nowrap;
  transition: background 0.2s;
}

.filter-btn:hover {
  background: #3a3a3a;
}

.filter-btn.active {
  background: white;
  color: black;
}

.playlist {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.playlist-item {
  display: flex;
  gap: 12px;
  cursor: pointer;
  padding: 10px;
  border-radius: 12px;
  transition: 0.2s;
}

.playlist-item:hover {
  background: #2b2b2b;
}

.playlist-item.active {
  background: #333;
}

.thumbnail-wrapper {
  position: relative;
  width: 140px;
  flex-shrink: 0;
}

.thumbnail-wrapper img {
  width: 100%;
  border-radius: 10px;
  display: block;
}

.video-duration {
  position: absolute;
  bottom: 6px;
  right: 6px;
  background: rgba(0, 0, 0, 0.85);
  color: white;
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 4px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.playlist-item h4 {
  margin: 0;
  font-size: 15px;
}

.playlist-item p {
  margin-top: 6px;
  color: #aaa;
  font-size: 13px;
}

/* PLAYER */

.player-section {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
}

.video-wrapper {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  border-radius: 18px;
  overflow: hidden;
  background: black;
}

.video-wrapper iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.video-info {
  margin-top: 20px;
}

.video-info h1 {
  margin-bottom: 10px;
}

/* MOBILE */

@media (max-width: 900px) {
  .app {
    flex-direction: column;
    height: auto;
    min-height: 100vh;
  }

  .player-section {
    order: 1;
    padding: 12px;
    overflow-y: visible;
  }

  .video-wrapper {
    border-radius: 12px;
  }

  .video-info h1 {
    font-size: 20px;
  }

  .sidebar {
    order: 2;
    width: 100%;
    height: auto;
    border-right: none;
    border-top: 1px solid #2a2a2a;
    padding: 15px;
    overflow-y: visible;
  }

  .thumbnail-wrapper {
    width: 130px;
  }
}